body {
 	font-family: "Ubuntu", "Open Sans", Arial, Helvetica, sans-serif;

	display: grid;
	grid-template-areas: 
	"head head head"
	"body body body"
	"foot foot foot";
}

header {
	grid-area: head;
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

/*
TODO: Header bar, make it look good
*/

main {
	grid-area: body;
}

footer {
	grid-area: foot;
	text-align: center;
}

#project-group {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 2em;
	grid-row-gap: 2em;
	max-width: 1000px;
	width: 80%;
	margin: auto auto;
}

.project {
	max-width: 100%;
	min-width: 250px;
	position: relative;

	background-color: lightgray;
	/* border: 4px dashed black; */
}

.project > div > h3 {
	margin: 0.5em 0 0.5em 0.5em;
	text-decoration: underline;
}

.project > div > p {
	margin-left: 0.5em;
}

.project > div > ul {
	padding-left: 30px;
	margin: 0.5em 0 0.5em 0;
}

.project > img {
	max-width: 100%;
}

@media only screen and (max-width: 1000px) {
	#project-group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 650px) {
	#project-group {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}
